<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OX퀴즈</title>
    <script src="/jquery/jquery.js"></script>
    <script src="/js/check.js"></script>
</head>
<style>
    span{
        font-size: 10px;
        color: red;
    }
    #desc{
        width: 500px;
        height: 100px;
    }
</style>
<body>
    <h1>OX Quiz Application</h1>
    <h3>변경 폼</h3>
    <form th:action="@{/quiz/update}" method="post" th:object="${quiz}">
        <input type="hidden" th:field="*{id}">
        <div>
            <label for="desc">퀴즈 내용 : </label>
            <br>
            <input type="text" name="desc" id="desc" th:field="*{description}">
            <span th:errors="*{description}"></span>
        </div>
        <div>
            <label for="answer">퀴즈 정답 :
                <input type="radio" name="answer" id="answer" value="true" th:field="*{answer}"> O
            </label>
            <label>
                <input type="radio" name="answer" value="false" th:field="*{answer}"> X
            </label>
            <span th:errors="*{answer}"></span>
        </div>
        <div>
            <label for="writer">작성자 :</label>
            <input type="text" name="writer" id="writer" th:field="*{writer}">
            <span th:errors="*{writer}"></span>
        </div>
        <input type="submit" value="송신" id="btnSubmit">
    </form>
</body>
</html>