<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1 align = "center">등록된 퀴즈 목록 <a th:href="@{|/quiz/play|}">플레이</a></h1>
  <table border="1" align = "center">
      <thead>
      <tr>
          <td>ID</td>
          <td>내용</td>
          <td>해답</td>
          <td>작성자</td>
          <td>변경</td>
          <td>삭제</td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="quiz : ${list}" th:object="${quiz}">
          <td>[[*{id}]]</td>
          <td>[[*{description}]]</td>
          <td th:text="*{answer} ? 'O' : 'X'">[[*{answer}]]</td>
          <td>[[*{writer}]]</td>
          <td>
              <a th:href="@{|/quiz/${quiz.id}|}">
                  <button>변경</button>
              </a>
          </td>
          <td>
              <a th:href="@{|/quiz/delete?id=${quiz.id}|}">
                  <button>삭제</button>
              </a>
          </td>
      </tr>
      </tbody>
  </table>
</body>
</html>